@import "utilities.css";

/* *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */
/* body{
    font-family: var(--font);
}

nav{
    background: var(--second-color);
    height: 80px;
    width:100%;
}
img{
    padding: 0 100px;
    width: 50px;
    height: auto;
} */

*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5rem;
    /* padding: 25px 90px; */
    background-color: var(--second-color);
}

img{
    width: 180px;
    height: auto;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar ul li{
    margin: 0 15px;
}

.navbar ul a{
    text-decoration: none;
    color: var(--third-color);
    font-size: 17px;
    font-weight: bold;
    /* text-transform: uppercase; */
}
.navbar a.active {
    color: var(--main-color);
   
}
.lime{
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 10px 20px;
    border-radius: 10px;
    
}
.navbar ul li.lime a {
    color: var(--second-color);
    font-size: 15px;
    /* font-weight: 900; */
}
.navbar ul li.lime {
    margin-left: 70px;
}

